h1, h2 {
  margin: 0; }

body {
  background: #E74C3C;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.16) 0%, rgba(192, 56, 43, 0.16) 100%); }

header h1, header h2 {
  font-family: "Montserrat"; }
header h1 {
  font-family: "Montserrat";
  font-size: 10vw;
  color: #301A05;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 540px) {
    header h1 {
      font-size: 8vw; } }
header h2 {
  font-size: 1.1rem;
  text-align: center; }
  @media (min-width: 540px) {
    header h2 {
      font-size: 1.3rem;
      text-align: left; } }

#selected-fruits {
  z-index: 0;
  width: 85%;
  min-height: 7.875rem;
  /* 110/16 */
  margin: 0 auto 1.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #E5C26D;
  border: 7px solid rgba(209, 194, 102, 0.82);
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 8px; }
  @media (min-width: 480px) {
    #selected-fruits {
      font-size: 10px; } }
  #selected-fruits .frt-item {
    margin: 1em; }
    #selected-fruits .frt-item label {
      visibility: hidden; }

#combination {
  position: relative;
  width: 175px;
  top: 7px;
  margin: 0 auto;
  background: #E5C26D;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(209, 194, 102, 0.82);
  border-radius: 15px 15px 0 0;
  text-align: center;
  line-height: 30px;
  font-family: "Montserrat"; }
  @media (min-width: 480px) {
    #combination {
      width: 300px; } }

#status {
  font-weight: bold; }

.true {
  color: #27ae60; }

.false {
  color: #c0392b; }

.not-rc {
  color: #9C6A19; }

#fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px; }
  @media (min-width: 480px) {
    #fruits {
      justify-content: space-around;
      font-size: 12px; } }
  @media (min-width: 780px) {
    #fruits {
      font-size: 14px; } }
  @media (min-width: 1280px) {
    #fruits {
      font-size: 15px; } }

.frt-item {
  position: relative;
  width: 9.125em;
  height: 9.125em;
  margin: 0.875em 0;
  background-color: rgba(255, 206, 206, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: background .5s; }
  .frt-item:hover {
    background-color: rgba(255, 206, 206, 0.6); }
  .frt-item:focus {
    outline-width: 0;
    box-shadow: 0 0 3pt 2pt #7193AB; }
  @media (min-width: 780px) {
    .frt-item {
      margin: 0 1.35em 4em; } }
  .frt-item h3 {
    display: block; }
  .frt-item label {
    visibility: hidden;
    position: relative;
    top: 23%;
    font: 18px "Montserrat"; }
    .frt-item label:focus {
      outline-width: 0; }
    @media (min-width: 780px) {
      .frt-item label {
        visibility: visible; } }

div[id='almond'] {
  order: 1;
  background-image: url("../images/almond.svg");
  background-size: 5.1875em, 0, contain; }

div[id='avocado'] {
  order: 2;
  background-image: url("../images/avocado.svg");
  background-size: 5.1875em, 0, contain; }

div[id='banana'] {
  order: 3;
  background-image: url("../images/banana.svg");
  background-size: 5.1875em, 0, contain; }

div[id='cherry'] {
  order: 4;
  background-image: url("../images/cherry.svg");
  background-size: 5.1875em, 0, contain; }

div[id='carrot'] {
  order: 5;
  background-image: url("../images/carrot.svg");
  background-size: 5.1875em, 0, contain; }

div[id='grapes'] {
  order: 6;
  background-image: url("../images/grapes.svg");
  background-size: 5.1875em, 0, contain; }

div[id='kiwi'] {
  order: 7;
  background-image: url("../images/kiwi.svg");
  background-size: 5.1875em, 0, contain; }

div[id='melon'] {
  order: 8;
  background-image: url("../images/melon.svg");
  background-size: 5.1875em, 0, contain; }

div[id='peach'] {
  order: 9;
  background-image: url("../images/peach.svg");
  background-size: 5.1875em, 0, contain; }

div[id='pear'] {
  order: 10;
  background-image: url("../images/pear.svg");
  background-size: 5.1875em, 0, contain; }

div[id='pineapple'] {
  order: 11;
  background-image: url("../images/pineapple.svg");
  background-size: 5.1875em, 0, contain; }

div[id='plum'] {
  order: 12;
  background-image: url("../images/plum.svg");
  background-size: 5.1875em, 0, contain; }

div[id='pomegranate'] {
  order: 13;
  background-image: url("../images/pomegranate.svg");
  background-size: 5.1875em, 0, contain; }

div[id='raspberry'] {
  order: 14;
  background-image: url("../images/raspberry.svg");
  background-size: 5.1875em, 0, contain; }

div[id='strawberry'] {
  order: 15;
  background-image: url("../images/strawberry.svg");
  background-size: 5.1875em, 0, contain; }

div[id='watermelon'] {
  order: 16;
  background-image: url("../images/watermelon.svg");
  background-size: 5.1875em, 0, contain; }

div[id='apple'] {
  order: 17;
  background-image: url("../images/apple.svg");
  background-size: 5.1875em, 0, contain; }

div[id='nut'] {
  order: 18;
  background-image: url("../images/nut.svg");
  background-size: 5.1875em, 0, contain; }

div[id='fig'] {
  order: 19;
  background-image: url("../images/fig.svg");
  background-size: 5.1875em, 0, contain; }

div[id='orange'] {
  order: 20;
  background-image: url("../images/orange.svg");
  background-size: 5.1875em, 0, contain; }

div[id='lemon'] {
  order: 21;
  background-image: url("../images/lemon.svg");
  background-size: 5.1875em, 0, contain; }

div[id='lettuce'] {
  order: 22;
  background-image: url("../images/lettuce.svg");
  background-size: 5.1875em, 0, contain; }

div[id='tomato'] {
  order: 23;
  background-image: url("../images/tomato.svg");
  background-size: 5.1875em, 0, contain; }

div[id='cucumber'] {
  order: 24;
  background-image: url("../images/cucumber.svg");
  background-size: 5.1875em, 0, contain; }

div[id='broccoli'] {
  order: 25;
  background-image: url("../images/broccoli.svg");
  background-size: 5.1875em, 0, contain; }

div[id='potato'] {
  order: 26;
  background-image: url("../images/potato.svg");
  background-size: 5.1875em, 0, contain; }

div[id='sweet-potato'] {
  order: 27;
  background-image: url("../images/sweet-potato.svg");
  background-size: 5.1875em, 0, contain; }

div[id='bell-pepper'] {
  order: 28;
  background-image: url("../images/bell-pepper.svg");
  background-size: 5.1875em, 0, contain; }
