h1, h2 {
  margin: 0; }

body {
  background: #E74C3C;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.16) 0%, rgba(192, 56, 43, 0.16) 100%); }

header h1, header h2 {
  font-family: "Montserrat"; }
header h1 {
  font-family: "Montserrat";
  font-size: 10vw;
  color: #301A05;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 540px) {
    header h1 {
      font-size: 8vw; } }
header h2 {
  font-size: 1.1rem;
  text-align: center; }
  @media (min-width: 540px) {
    header h2 {
      font-size: 1.3rem;
      text-align: left; } }

#selected-fruits {
  z-index: 0;
  width: 85%;
  min-height: 7.875rem;
  /* 110/16 */
  margin: 0 auto 1.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5C26D;
  border: 7px solid rgba(209, 194, 102, 0.82);
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 8px; }
  @media (min-width: 480px) {
    #selected-fruits {
      font-size: 10px; } }
  #selected-fruits .frt-item {
    margin: 1em; }

#combination {
  position: relative;
  width: 175px;
  top: 7px;
  margin: 0 auto;
  background: #E5C26D;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(209, 194, 102, 0.82);
  border-radius: 15px 15px 0 0;
  text-align: center;
  line-height: 30px;
  font-family: "Montserrat"; }
  @media (min-width: 480px) {
    #combination {
      width: 300px; } }

#status {
  font-weight: bold; }

.true {
  color: #27ae60; }

.false {
  color: #c0392b; }

#fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px; }
  @media (min-width: 480px) {
    #fruits {
      justify-content: space-around;
      font-size: 14px; } }

.frt-item {
  position: relative;
  width: 9.125em;
  height: 9.125em;
  background-color: rgba(255, 206, 206, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .5s; }
  .frt-item:hover {
    background-color: rgba(255, 206, 206, 0.6); }
  .frt-item:focus {
    outline-width: 0; }
  .frt-item h3 {
    display: block; }

/* 83/16 */
/* 109/16 */
div[data-fruit-name='banana'] {
  order: 1;
  background-image: url("../images/banana.svg");
  background-size: 5.3125em, 4.375em, contain; }

div[data-fruit-name='papaya'] {
  order: 2;
  background-image: url("../images/papaya.svg");
  background-size: 7.0625em, 4.5625em, contain; }

div[data-fruit-name='orange'] {
  order: 3;
  background-image: url("../images/orange.svg");
  background-size: 5.1875em, 6.6875em, contain; }

div[data-fruit-name='pear'] {
  order: 4;
  background-image: url("../images/pear.svg");
  background-size: 5.1875em, 6.8125em, contain; }
