@import 'partials/resets';
@import 'partials/variables';

html {
  -ms-touch-action: manipulation;  
  touch-action: manipulation;
}
body {
  background: #E74C3C;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.16) 0%, rgba(192,56,43,0.16) 100%);
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
}

header {

  h1 {
    font-size: 14vw;
    color: #301A05;
    letter-spacing: 0.7px;
    font-family: $pacifico;
    text-align: center;

    @media (min-width: 540px) {
      font-size: 8vw;
    }
  }

  h2 {
    font-size: 1.1rem;
    text-align: center;

    @media (min-width: 540px) {
      font-size: 1.3rem;
      text-align: left;
    }
  }
}

@import 'partials/mixins';
@import 'partials/fruit-styles';
@import 'partials/fruits'