@import 'partials/resets';
@import 'partials/variables';

html {
  height: 100%;
  -ms-touch-action: manipulation;  
  touch-action: manipulation;
}
body {
  background: #E74C3C;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.16) 0%, rgba(192,56,43,0.16) 100%);
  background-attachment: fixed;
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
}

a:-webkit-any-link {  
  text-decoration: none;
}

header {

  h1 {
    font-size: 14vw;
    color: #301A05;
    letter-spacing: 0.7px;
    font-family: $pacifico;
    text-align: center;

    @media (min-width: 540px) {
      font-size: 8vw;
    }
  }

  h2 {
    font-size: 1.1rem;
    text-align: center;

    @media (min-width: 540px) {
      font-size: 1.3rem;
      text-align: left;
    }
  }
}

@import 'partials/mixins';
@import 'partials/fruit-styles';

.nojs {
  text-align: center;
  font-weight: bold;
}

.social-icons {

  margin-top: 1.875rem;
  text-align: center;

  @media #{$landscape-phone} {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-top: 0;
  }

  a {
    margin: 0 0.1875rem;
  }

  svg {
    width: 40px;
    height: 40px;
  }

  svg path {
    fill: blanchedalmond;
  }
}