<!DOCTYPE html>
<html>

<!-- partial:includes/_head.html -->
<!-- partial -->

<body ontouchstart="">
  <header>
    <!-- partial:includes/_header.html -->
    <!-- partial -->
  </header>
  <div id="app">
    <div id="combination" v-visible="selectedFruits">
      <h3>
        Combination:
        <span id="status" :class="{ true: status, false: !status }">
          <template v-if="status">Great!</template>
          <template v-else>Bad</template>
        </span>
      </h3>
        <div v-visible="message" id="info" aria-haspopup="true" aria-controls="message">
          <div id="message" aria-live="polite" aria-atomic="true">
            {{ message }}
          </div>
        </div>
    </div>

    <div id="selected-fruits">
      <h2 v-show="selectedFruits.length == 0">pick up some fruits!</h2>
      <template>
        <div v-for="fruit in selectedFruits"
             v-on:click="removeFruit(fruit)"
             class="frt-item"
             :id="fruit.id"
             :key="fruit.id">
          <label v-bind:for="fruit.data.name">{{ fruit.data.name }}</label>
        </div>
      </template>
    </div>

    <div id="fruits">
        <my-fruit v-for="fruit in fruits"
             :fruit="fruit"
             :key="fruit.id"
             v-on:add="addFruit(fruit)">
        </my-fruit>
    </div>

    <footer>
      <!-- partial:includes/_footer.html -->
      <!-- partial -->
    </footer>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-18040964-5', 'auto', { 'siteSpeedSampleRate': 50 });
    ga('send', 'pageview');
  </script>
  <script src="https://unpkg.com/vue@2.0.1/dist/vue.js"></script>
  <script src="./js/app.js"></script>

</body>
</html>
