@import 'partials/resets';
@import 'partials/variables';

html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  background: #E74C3C;
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
}


header {
  display: flex;
  margin: 60px 0 50px;
  justify-content: center;

  h2 {
    font-size: 1.1rem;
    text-align: center;

    @media (min-width: 540px) {
      font-size: 1.3rem;
      text-align: left;
    }
  }
}

@import 'partials/fruit-styles';

.nojs {
  text-align: center;
  font-weight: bold;
}

.social-icons {

  margin-top: 1.875rem;
  text-align: center;

  @media #{$landscape-phone} {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-top: 0;
  }

  a {
    margin: 0 0.1875rem;
    text-decoration: none;
  }

  svg {
    width: 40px;
    height: 40px;
  }

  svg path {
    fill: blanchedalmond;
  }
}
