
$fruits: (
  {{#svgs}}
  {{{name}}}: (inline: '{{{inline}}}', width: {{width}}, height: {{height}}),
  {{/svgs}}
);

@mixin svg($fruits) {
  
  $order: 1;

  @each $name, $props in $fruits {
  
    div[id=$name) ] {
        order: $order;
        background-image: map-get($props, inline);
        background-size: map-get($props, width), 0, contain;
    }

    $order: $order + 1;

  }

@include(svg($fruits));