#selected-fruits {
  z-index: 0;
  width: 85%;
  min-height: 7.875rem; /* 110/16 */
  margin: 0 auto 1.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #E5C26D;
  border: 7px solid rgba(209,194,102,0.82);
  border-radius: 40px;
  box-sizing: border-box; 
  font-size: 8px;

  @media #{$landscape-phone} {
    font-size: 10px;
  }

  .frt-item {
    margin: 1em;

    label {
      visibility: hidden;
    }
  }
}

#combination {
  position: relative;
  width: 175px;
  top: 7px;
  margin: 0 auto;
  background: #E5C26D;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(209,194,102,0.82);
  border-radius: 15px 15px 0 0;
  text-align: center;
  line-height: 30px;
  font-family: $monte;  

  @media #{$landscape-phone} {
    width: 300px;
  }
}

#status {
  font-weight: bold;
}

.true {
  color: #27ae60;
}

.false {
  color: #c0392b;
}

.not-rc {
  color: #9C6A19;
}

#fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px;

  @media #{$landscape-phone} {
    justify-content: space-around;
    font-size: 12px;
  }

  @media #{$portait-tablet} {
    font-size: 14px;
  }

  @media #{$laptop} {
    font-size: 15px;
  }
}

.frt-item {
  position: relative;
  width: 9.125em;
  height: 9.125em;
  margin: 0.875em 0;
  background-color: rgba(255,206,206,0.20);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: background .5s;

  &:hover {
    background-color: rgba(255,206,206,0.60);
  }

  &:focus {
    outline-width: 0;
    box-shadow: 0 0 3pt 2pt #7193AB;
  }

  @media #{$portait-tablet} {
    margin: 0 1.35em 4em;
  }

  h3 {
    display: block;
  }

  label {
    visibility: hidden;
    position: relative;
    top: 23%;
    font: 18px $monte;
    // line-height: 20;

    &:focus {
      outline-width: 0;
    }

    @media #{$portait-tablet} {
      visibility: visible;
    } 
  }
}