// @mixin fruit($name, $width, $height, $order) {

//   div[id='#{$name}'] {
//     order: $order;
//     background-image: url('../images/#{$name}.png');
//     background-size: $width, $height, contain;
//   }

// }

@mixin fruit($name, $order, $width: 5.1875em) {
  div[id='#{$name}'] {
    order: $order;
    background-image: url('../images/#{$name}.png');
    background-size: $width, 0, contain;
  }
}