@mixin fruit($name, $width, $height, $order) {

  .frt-item[data-fruit-name='#{$name}'] {
    order: $order;
  }

  input[id='#{$name}'] + label {
    position: relative;
    display: block;
    width: $width;
    height: $height;
    background: url('../images/#{$name}.svg') no-repeat;
    background-size: contain;
  }
}