@mixin fruit($name, $width, $height, $order) {

    div[data-fruit-name='#{$name}'] {
      order: $order;
      background-image: url('../images/#{$name}.svg');
      background-size: $width, $height, contain;


  }
}