.social-icons-wrapper {
  margin-bottom: 30px;
  text-align: center;

  @include respond-at(768px) {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-top: 0;
  }
}

.social-icon-svg {
  width: 40px;
  height: 40px;

  path {
    fill: blanchedalmond;
  }
}

.social-icon-link {
  margin: 0 3px;
  text-decoration: none;
}
