footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons-wrapper {
  text-align: center;

  @include respond-at(768px) {
    position: absolute;
    top: 16px;
    left: 16px;
    margin-top: 0;
  }
}

.social-icon-svg {
  width: 40px;
  height: 40px;

  &:hover path {
    fill: #fff;
  }
}

.social-icon-link {
  margin: 0 4px;
  text-decoration: none;
}

.feedback-link {
  display: flex;
  margin: 15px;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: bisque;

  &:hover {
    color: #fff;    
  }
}