#combination-container {
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
}

#selected-fruits {
  z-index: 0;
  width: 85%;
  min-height: 7.875rem; /* 110/16 */
  margin: 0 auto 1.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #E5C26D;
  border: 7px solid rgba(209,194,102,0.82);
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 8px;

  @include respond-at(480px) {
    font-size: 10px;
  }

  h2 {
    padding: 0 10px;
    font-size: 3.3em;
  }

  .frt-item {
    margin: 1em;

    label {
      visibility: hidden;
    }
  }
}

#combination {
  width: 185px;
  height: 30px;
  position: relative;
  top: 7px;
  margin: 0 auto;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5C26D;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(209,194,102,0.82);
  border-radius: 15px 15px 0 0;
  font-size: 12px;
  text-align: center;
  line-height: 30px;

  @include respond-at(480px) {
    width: 300px;
    font-size: 16px;
  }
}

#status {
  font-weight: bold;
}

.true {
  color: #27ae60;
}

.false {
  color: #c0392b;
}

.not-rc {
  color: #9C6A19;
}

#info {
  width: 1.375em;
  height: 1.375em;
  margin-left: 0.625em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='52' height='52' viewBox='0 0 52 52'%3E%3Cdefs%3E%3Ccircle id='a' cx='26' cy='26' r='26'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' overflow='visible' fill='%2375a2d9'/%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cg%3E%3Cpath d='M30 42c0 2.2-1.8 4-4 4s-4-1.8-4-4 1.8-4 4-4 4 1.8 4 4zm5.5-27.3c-1.5-2.5-3.8-4.4-6.7-5.1-2.8-.8-5.8-.4-8.3 1.1-1 .6-2.2 1.3-3.5 2v6.9c2.2-1.3 5.5-3.2 6.5-3.8 1.2-.7 2.5-.8 3.8-.5 1.3.3 2.4 1.2 3 2.3.7 1.2.8 2.5.5 3.8-.3 1.3-1.2 2.4-2.3 3L23 27.7V36h6v-4.8l2.5-1.4c2.5-1.5 4.4-3.8 5.1-6.7.8-2.9.4-5.8-1.1-8.4z' fill='%23dedcd9'/%3E%3Cpath d='M30 42c0 2.2-1.8 4-4 4s-4-1.8-4-4 1.8-4 4-4 4 1.8 4 4zm5.5-27.3c-1.5-2.5-3.8-4.4-6.7-5.1-2.8-.8-5.8-.4-8.3 1.1-1 .6-2.2 1.3-3.5 2v6.9c2.2-1.3 5.5-3.2 6.5-3.8 1.2-.7 2.5-.8 3.8-.5 1.3.3 2.4 1.2 3 2.3.7 1.2.8 2.5.5 3.8-.3 1.3-1.2 2.4-2.3 3L23 27.7V36h6v-4.8l2.5-1.4c2.5-1.5 4.4-3.8 5.1-6.7.8-2.9.4-5.8-1.1-8.4z' fill='%23FFF' opacity='.5'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;

  &:hover #message,
   {
    opacity: 1;
  }
}

#message {
  box-sizing: border-box;
  z-index: 1;
  width: 200px;
  height: auto;
  position: relative;
  top: 25px;
  right: 92px;
  padding: 25px 10px 10px;;
  background-image: url('../images/bubble.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.75s;
  user-select: none;
  pointer-events: none;

  @include respond-at(480px) {
    right: 89px;
  }
}

#fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 9px;

  @include respond-at(660px) {
    font-size: 11px;
  }

  @include respond-at(900px) {
    font-size: 13px;
  }

  @include respond-at(1080px) {
    padding: 0 10px;
    font-size: 14px;
  }

  @include respond-at(1280px) {
    margin: 45px 10px 20px;
    font-size: 15.5px;
  }

  @include respond-at(1600px) {
    margin: 55px 20px 30px;
    font-size: 16.5px;
  }
}

.frt-item {
  position: relative;
  width: 9.125em;
  height: 9.125em;
  margin: 1.875em .5em;
  background-size: 5.1875em, 0, contain;
  background-color: rgba(255,206,206,0.20);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @include respond-at(480px) {
    margin: 0 1.35em 4em;
  }
}

.hover {
  .frt-item:hover {
      background-color: rgba(255,206,206,0.60);
  }
}

.frt-item-label {
  position: relative;
  top: 24%;
  font-size: 0.88rem;
  text-align: center;
  text-transform: capitalize;
  user-select: none;

  &:focus {
    outline-width: 0;
  }

  @include respond-at(480px) {
    top: 23%;
    font-size: 1rem;
    white-space: nowrap;
  }
}
