.header {
  display: flex;
  margin: 50px 0 15px;
  justify-content: center;

  @include respond-at(480px) {
    margin: 35px 0 25px;
  }

  @include respond-at(768px) {
    margin: 60px 0 50px;
  }
}

.logo {
  width: 260px;

  @include respond-at(768px) {
    width: 360px;
  }
}
